/* 
    Document   : oims
    Created on : Jun 25, 2013, 4:30:05 PM
    Author     : gnuheike
    Description:
        Purpose of the stylesheet follows.
*/

div.filter-container input[type=text] {
    width: 97%;
    padding: 2px;
    padding-left: 5px;
    margin: 0 0;
}


i.icon-no-sign-oims {
    background-image: url("img/no.png");
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

i.icon-yes-sign-oims {
    background-image: url("img/yes.png");
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

form input.error{
    background: #FEE;
    border-color: #C00;
    background: url(img/no.png) 95% no-repeat;
}

form input.success {
    background: #A9EF9D;
    border-color: #50BE4A;
    background: url(img/yes.png) 95% no-repeat;
}

.btn-group .btn {
    margin-left: 5px;
    border-radius: 4px !important;
}

#inv-product-form label, #inv-product-form input,  #inv-product-form .help-block {
    margin-bottom: 0px;
}

.photo .image-preview {
    height: auto !important;
}

.modal-backdrop {
    display: none !important;

}
