/* 
    Document   : oims
    Created on : Jun 25, 2013, 4:30:05 PM
    Author     : gnuheike
    Description:
        Purpose of the stylesheet follows.
*/

div.filter-container input[type=text] {
    width: 97%;
    padding: 2px;
    padding-left: 5px;
    margin: 0 0;
}

